<a href="https://colab.research.google.com/github/MohannadEhabBarakat/text2audio/blob/main/Text_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import inflect
import re

In [ ]:
threshold : int

In [ ]:
def audio_cleaning(arr):
  i=0
  print(threshold)
  while i<len(arr):
      if arr[i]>=threshold:
        arr_new= arr[i:]
        break   
      i +=1
  i=len(arr_new)-1
  while i>0:
      if arr_new[i]>=threshold:
        arr_new= arr_new[0:i+1]
        break   
      i -=1
  return arr_new

In [ ]:
def collapse_whitespace(text):
  return text.replace(" ", "")

In [82]:
def lowercase(text):
  return text.lower()

In [ ]:
def _remove_commas(m):
  return m.replace(',', '')

In [131]:
def remove_symbols(s):
  s = re.sub(r'[^a-zA-Z0-9 '.]', '', s)
  return s

SyntaxError: ignored

In [ ]:
_inflect = inflect.engine()
_decimal_number_re = re.compile(r'([0-9]+\.[0-9]+)')
_pounds_re = re.compile(r'Â£([0-9\,]*[0-9]+)')
_dollars_re = re.compile(r'\$([0-9\.\,]*[0-9]+)')
_ordinal_re = re.compile(r'[0-9]+(st|nd|rd|th)')
_number_re = re.compile(r'[0-9]+')

In [ ]:
def _expand_decimal_point(m):
  return m.group(1).replace('.', ' point ')

In [ ]:
def _expand_dollars(m):
  match = m.group(1)
  parts = match.split('.')
  if len(parts) > 2:
    return match + ' dollars'  # Unexpected format
  dollars = int(parts[0]) if parts[0] else 0
  cents = int(parts[1]) if len(parts) > 1 and parts[1] else 0
  if dollars and cents:
    dollar_unit = 'dollar' if dollars == 1 else 'dollars'
    cent_unit = 'cent' if cents == 1 else 'cents'
    return '%s %s, %s %s' % (dollars, dollar_unit, cents, cent_unit)
  elif dollars:
    dollar_unit = 'dollar' if dollars == 1 else 'dollars'
    return '%s %s' % (dollars, dollar_unit)
  elif cents:
    cent_unit = 'cent' if cents == 1 else 'cents'
    return '%s %s' % (cents, cent_unit)
  else:
    return 'zero dollars'

In [ ]:
def _expand_ordinal(m):
  return _inflect.number_to_words(m.group(0))

In [ ]:
def _expand_number(m):
  num = int(m.group(0))
  if num > 1000 and num < 3000:
    if num == 2000:
      return 'two thousand'
    elif num > 2000 and num < 2010:
      return 'two thousand ' + _inflect.number_to_words(num % 100)
    elif num % 100 == 0:
      return _inflect.number_to_words(num // 100) + ' hundred'
    else:
      return _inflect.number_to_words(num, andword='', zero='oh', group=2).replace(', ', ' ')
  else:
    return _inflect.number_to_words(num, andword='')

In [110]:
def normalize_numbers(text):
  text = re.sub(_pounds_re, r'\1 pounds', text)
  text = re.sub(_dollars_re, _expand_dollars, text)
  text = re.sub(_decimal_number_re, _expand_decimal_point, text)
  text = re.sub(_ordinal_re, _expand_ordinal, text)
  text = re.sub(_number_re, _expand_number, text)
  return text

In [113]:
# List of (regular expression, replacement) pairs for abbreviations:
_abbreviations = [(re.compile('\\b%s\\.' % x[0], re.IGNORECASE), x[1]) for x in [
  ('mrs', 'misess'),
  ('mr', 'mister'),
  ('dr', 'doctor'),
  ('st', 'saint'),
  ('co', 'company'),
  ('jr', 'junior'),
  ('maj', 'major'),
  ('gen', 'general'),
  ('drs', 'doctors'),
  ('rev', 'reverend'),
  ('lt', 'lieutenant'),
  ('hon', 'honorable'),
  ('sgt', 'sergeant'),
  ('capt', 'captain'),
  ('esq', 'esquire'),
  ('ltd', 'limited'),
  ('col', 'colonel'),
  ('ft', 'fort'),
]]

one hundred dollars, three cents

In [125]:
def expand_abbreviations(text):
  for regex, replacement in _abbreviations:
    text = re.sub(regex, replacement, text)
  return text

In [122]:
print(normalize_numbers("I have eaten 5 apples and brought them for $200.90. They were 2kg"))

I have eaten five apples and brought them for two hundred dollars, ninety cents. They were twokg

In [132]:
def clean_text(text):
  text = lowercase(text)
  text = normalize_numbers(text)
  text = expand_abbreviations(text)
  text = remove_symbols(text)
  return text

In [134]:
print(clean_text("I have eaten 5 kg of apples in two days !! Can't believe they cost $3000.50!"))

i have eaten five kg of apples in two days  cant believe they cost three thousand dollars fifty cents